.img-container {
    position:absolute;
    top:10px;
    text-align: center;
    display: block;
}
.navbar-custom {
    background-color: #006400;
    height: 95px;
    padding: 0 10px;
}
.navbar-nav{
    font-weight: bold;
    color:white;
    float: right;
}