.GDP-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ant-table-thead > tr >th{
    color: white !important;
    background: rgb(0, 166, 0) !important;
}
.btn{
    border: 0px solid #fff !important; 
}

#health{
    padding:15px 0px;
    text-align: center;
}
#gdp{
    padding:15px 0px;
    text-align: center;
}